body {
  margin: 0;
  padding: 0;
  /* background: #000; */
  overflow: hidden;
}
.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}
.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@-webkit-keyframes bang {
  to {
    box-shadow: -46px 64.33333px #2bff00, 50px -99.66667px #00f7ff, 140px -73.66667px #f00, -158px -293.66667px #ff00f7, -220px -185.66667px #03f, 85px -224.66667px #0051ff, -131px -374.66667px #00d0ff, 18px -84.66667px #ff006f, 239px -319.66667px #ff4800, 1px -354.66667px #e100ff, -200px -383.66667px #ffc800, 136px -307.66667px #6aff00, 204px -42.66667px #0f0, 67px -254.66667px #0059ff, -207px -141.66667px #0bf, 214px -371.66667px #00fbff, 98px -11.66667px #00ff15, -100px -349.66667px #eaff00, 150px -72.66667px #0080ff, 114px 33.33333px #f80, 192px -292.66667px #c800ff, -205px 1.33333px #0bf, -62px -286.66667px #0048ff, -180px -205.66667px #ff0900, -99px -201.66667px #f10, -127px -167.66667px #00ff9d, 145px -400.66667px #00ffd5, -202px -273.66667px #f40, 85px -66.66667px #ff2f00, 110px -402.66667px #05f, 124px 62.33333px #ff00e6, -47px -177.66667px #f50, 168px 13.33333px #08ff00, -216px -49.66667px #00ffb3, -180px -24.66667px #9100ff, 71px 64.33333px #00ff3c, 219px -21.66667px #0fc, 175px -290.66667px #5e00ff, -174px -119.66667px #a600ff, 204px 58.33333px #d0f, -240px -349.66667px #ff1500, 125px -262.66667px #e1ff00, -160px 17.33333px #0fe, 17px -376.66667px #ff006a, 37px -1.66667px #00ff73, -17px -116.66667px #00ffa2, 218px -265.66667px #08f, -168px -213.66667px #50f, 139px -92.66667px #b3ff00, -103px -160.66667px #ff0015, -101px -409.66667px #00ffb7;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -46px 64.33333px #2bff00, 50px -99.66667px #00f7ff, 140px -73.66667px #f00, -158px -293.66667px #ff00f7, -220px -185.66667px #03f, 85px -224.66667px #0051ff, -131px -374.66667px #00d0ff, 18px -84.66667px #ff006f, 239px -319.66667px #ff4800, 1px -354.66667px #e100ff, -200px -383.66667px #ffc800, 136px -307.66667px #6aff00, 204px -42.66667px #0f0, 67px -254.66667px #0059ff, -207px -141.66667px #0bf, 214px -371.66667px #00fbff, 98px -11.66667px #00ff15, -100px -349.66667px #eaff00, 150px -72.66667px #0080ff, 114px 33.33333px #f80, 192px -292.66667px #c800ff, -205px 1.33333px #0bf, -62px -286.66667px #0048ff, -180px -205.66667px #ff0900, -99px -201.66667px #f10, -127px -167.66667px #00ff9d, 145px -400.66667px #00ffd5, -202px -273.66667px #f40, 85px -66.66667px #ff2f00, 110px -402.66667px #05f, 124px 62.33333px #ff00e6, -47px -177.66667px #f50, 168px 13.33333px #08ff00, -216px -49.66667px #00ffb3, -180px -24.66667px #9100ff, 71px 64.33333px #00ff3c, 219px -21.66667px #0fc, 175px -290.66667px #5e00ff, -174px -119.66667px #a600ff, 204px 58.33333px #d0f, -240px -349.66667px #ff1500, 125px -262.66667px #e1ff00, -160px 17.33333px #0fe, 17px -376.66667px #ff006a, 37px -1.66667px #00ff73, -17px -116.66667px #00ffa2, 218px -265.66667px #08f, -168px -213.66667px #50f, 139px -92.66667px #b3ff00, -103px -160.66667px #ff0015, -101px -409.66667px #00ffb7;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -46px 64.33333px #2bff00, 50px -99.66667px #00f7ff, 140px -73.66667px #f00, -158px -293.66667px #ff00f7, -220px -185.66667px #03f, 85px -224.66667px #0051ff, -131px -374.66667px #00d0ff, 18px -84.66667px #ff006f, 239px -319.66667px #ff4800, 1px -354.66667px #e100ff, -200px -383.66667px #ffc800, 136px -307.66667px #6aff00, 204px -42.66667px #0f0, 67px -254.66667px #0059ff, -207px -141.66667px #0bf, 214px -371.66667px #00fbff, 98px -11.66667px #00ff15, -100px -349.66667px #eaff00, 150px -72.66667px #0080ff, 114px 33.33333px #f80, 192px -292.66667px #c800ff, -205px 1.33333px #0bf, -62px -286.66667px #0048ff, -180px -205.66667px #ff0900, -99px -201.66667px #f10, -127px -167.66667px #00ff9d, 145px -400.66667px #00ffd5, -202px -273.66667px #f40, 85px -66.66667px #ff2f00, 110px -402.66667px #05f, 124px 62.33333px #ff00e6, -47px -177.66667px #f50, 168px 13.33333px #08ff00, -216px -49.66667px #00ffb3, -180px -24.66667px #9100ff, 71px 64.33333px #00ff3c, 219px -21.66667px #0fc, 175px -290.66667px #5e00ff, -174px -119.66667px #a600ff, 204px 58.33333px #d0f, -240px -349.66667px #ff1500, 125px -262.66667px #e1ff00, -160px 17.33333px #0fe, 17px -376.66667px #ff006a, 37px -1.66667px #00ff73, -17px -116.66667px #00ffa2, 218px -265.66667px #08f, -168px -213.66667px #50f, 139px -92.66667px #b3ff00, -103px -160.66667px #ff0015, -101px -409.66667px #00ffb7;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -46px 64.33333px #2bff00, 50px -99.66667px #00f7ff, 140px -73.66667px #f00, -158px -293.66667px #ff00f7, -220px -185.66667px #03f, 85px -224.66667px #0051ff, -131px -374.66667px #00d0ff, 18px -84.66667px #ff006f, 239px -319.66667px #ff4800, 1px -354.66667px #e100ff, -200px -383.66667px #ffc800, 136px -307.66667px #6aff00, 204px -42.66667px #0f0, 67px -254.66667px #0059ff, -207px -141.66667px #0bf, 214px -371.66667px #00fbff, 98px -11.66667px #00ff15, -100px -349.66667px #eaff00, 150px -72.66667px #0080ff, 114px 33.33333px #f80, 192px -292.66667px #c800ff, -205px 1.33333px #0bf, -62px -286.66667px #0048ff, -180px -205.66667px #ff0900, -99px -201.66667px #f10, -127px -167.66667px #00ff9d, 145px -400.66667px #00ffd5, -202px -273.66667px #f40, 85px -66.66667px #ff2f00, 110px -402.66667px #05f, 124px 62.33333px #ff00e6, -47px -177.66667px #f50, 168px 13.33333px #08ff00, -216px -49.66667px #00ffb3, -180px -24.66667px #9100ff, 71px 64.33333px #00ff3c, 219px -21.66667px #0fc, 175px -290.66667px #5e00ff, -174px -119.66667px #a600ff, 204px 58.33333px #d0f, -240px -349.66667px #ff1500, 125px -262.66667px #e1ff00, -160px 17.33333px #0fe, 17px -376.66667px #ff006a, 37px -1.66667px #00ff73, -17px -116.66667px #00ffa2, 218px -265.66667px #08f, -168px -213.66667px #50f, 139px -92.66667px #b3ff00, -103px -160.66667px #ff0015, -101px -409.66667px #00ffb7;
  }
}
@keyframes bang {
  to {
    box-shadow: -46px 64.33333px #2bff00, 50px -99.66667px #00f7ff, 140px -73.66667px #f00, -158px -293.66667px #ff00f7, -220px -185.66667px #03f, 85px -224.66667px #0051ff, -131px -374.66667px #00d0ff, 18px -84.66667px #ff006f, 239px -319.66667px #ff4800, 1px -354.66667px #e100ff, -200px -383.66667px #ffc800, 136px -307.66667px #6aff00, 204px -42.66667px #0f0, 67px -254.66667px #0059ff, -207px -141.66667px #0bf, 214px -371.66667px #00fbff, 98px -11.66667px #00ff15, -100px -349.66667px #eaff00, 150px -72.66667px #0080ff, 114px 33.33333px #f80, 192px -292.66667px #c800ff, -205px 1.33333px #0bf, -62px -286.66667px #0048ff, -180px -205.66667px #ff0900, -99px -201.66667px #f10, -127px -167.66667px #00ff9d, 145px -400.66667px #00ffd5, -202px -273.66667px #f40, 85px -66.66667px #ff2f00, 110px -402.66667px #05f, 124px 62.33333px #ff00e6, -47px -177.66667px #f50, 168px 13.33333px #08ff00, -216px -49.66667px #00ffb3, -180px -24.66667px #9100ff, 71px 64.33333px #00ff3c, 219px -21.66667px #0fc, 175px -290.66667px #5e00ff, -174px -119.66667px #a600ff, 204px 58.33333px #d0f, -240px -349.66667px #ff1500, 125px -262.66667px #e1ff00, -160px 17.33333px #0fe, 17px -376.66667px #ff006a, 37px -1.66667px #00ff73, -17px -116.66667px #00ffa2, 218px -265.66667px #08f, -168px -213.66667px #50f, 139px -92.66667px #b3ff00, -103px -160.66667px #ff0015, -101px -409.66667px #00ffb7;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
